.modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 15%;
    width: 65vw;
    height: 60vh;
    padding: 2rem 3.5rem;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: .3rem;
}

.modal div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-image {
    margin: 0 2.5rem 0 0;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: .3rem;
}

.modal-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .5rem  0 0;
    overflow-y: scroll;
    scroll-behavior: auto;
}

.modal-info h3 {
    margin: 0 0 1rem;
    flex-shrink: 0;
}

.modal-info p {
    text-align: justify;
    line-height: 1.7;
    font-size: 13px;
    flex-shrink: 0;
}


.close {
    color: #fff;
    float: right;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

.close:hover {
    color: #bbb;
}