section {
    margin: 0 6rem;
    padding: 6rem 4rem;
    background-color: #ffffff0f;
    color: #c8c0c0;
}

.container-search {
    padding: 9rem 4rem 1rem;
}

.search-elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1.5rem;
    padding: 0 .6rem;
    margin: 0 5rem
}

.search-elements div, .container-search input {
    color: #787777;
}

.container-search input {
    width: 100%;
    padding: .7rem .4rem;
    border: 0;
    font-size: 13.5px;
    border-radius: 1rem;
}

input:focus {
    outline: none;
}

.container-data {
    padding: 1rem 4rem;
}

.data-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .8rem .6rem .2rem;
    background-color: #ffffff;
    border-radius: .3rem;
}

.container-midia {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 13.1vw;
    height: 15.51vh;
    padding: 0 0 .6rem;
    cursor: pointer;
}

.container-midia img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .2rem;
    color: #787777;
}

.container-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem 3rem;
}

.pages-elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: .2rem solid #ffffff;
    border-radius: .4rem;
    padding: .5rem 0;
    
}

.page-gallery, .page-numbers {
    margin: 0 .5rem;
    height: 100%;
}

.page-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-num {
    margin: .2rem .5rem;
    padding: .3rem .85rem;
    border-radius: .2rem;
}

.page-num p {
    font-size: 13px;
}

.page-gallery {
    padding: .4rem .6rem;
    border-radius: .2rem;
}

.page-gallery, .page-num {
    background-color: #ffffff;
    color: #787777;
}