section {
    margin: 0 8rem;
    padding: 6rem 4rem;
    min-height: 70vh;
    background-color: #ffffff0f;
    color: #c8c0c0;
}

.title-about {
    font-family: cursive;
    font-weight: 600;
    font-size: 24px;
    color: #5afcf4;
    border-bottom: .1rem solid #5afcf4;
    width: 100%;
    text-align: center;
    padding-bottom: .3rem;
}

.container-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13rem 4rem 6rem;
}

.project-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3rem 0;
}

.container-project-image {
    display: flex;
    flex-direction: column;
    flex-basis: 95%;
    align-items: center;
    justify-content: center;
    margin: 0 3.5rem 0 0;
}

.content-projct-image {
    display: flex;
    justify-content: center;
    padding: .3rem;
    border: .1rem solid #c8c0c0;
    border-radius: .3rem;
}

.image-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0 0;
}

.icon-pages {
    font-size: 19px;
}

.image-status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 .8rem .2rem;
}

.icon-status {
    color: #c8c0c0;
    font-size: 11px;
    margin: 0 .25rem;
}

.container-project-description {
    display: flex;
    flex-direction: column;
    flex-basis: 95%;
    align-items: center;
    justify-content: center;
}

.project-image {
    width: 100%;
    height: 100%;
}
.container-project-description p {
    margin: 1rem 2rem 0;
    font-size: 13px;
    text-align: justify;
    text-indent: 1.5rem;
    line-height: 1.8;
}


.container-tchnology {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-tchnology-title {
    width: 100%;
}

.container-tchnology-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15rem;
    min-height: 6rem;
    margin: 1.5rem .8rem 0;
    padding: 1rem;
    background-color: #413f3f;
    border-radius: .4rem;
}

.card-header, .card-body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-header {
    padding: .3rem 1rem .8rem;
}

.icon-technology {
    font-size: 30px;
}

.title-technology {
    text-align: center;
    font-size: 15px;
    width: 100%;
    margin: 0 .8rem;
    padding: 1.1rem 0 0;
    border-top: .1rem solid #c8c0c0;
}

.container-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 6rem 4rem 26rem;
}

.container-author-title {
    width: 100%;
}

.about-author {
    display: flex;
    flex-direction: row;
    max-width: 70rem;
    margin: 1.5rem 0;
    padding: .8rem 1.3rem;
    background-color: #413f3f;
    border-radius: 1rem;
}

.content-image-author, .content-explanation-author {
    margin: 1rem 1.5rem;
}

.content-image-author {
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
}

.content-explanation-author {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

.image-author {
    width: 100%;
    width: 100%;
    border-radius: 14rem;
}

.explanation-author {
    font-size: 13px;
    line-height: 1.8;
    text-align: justify;
    text-indent: 1.3rem;
}