<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AstronNebula - About</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo-home.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-title">
                <img src="/img/logo-home.png" alt="logo do projeto" class="nav-logo">
                <h1>Astron<span>Nebula</span></h1>
            </div>
            <div class="nav-navegation">
                <ul class="nav-navegation-links">
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="/gallery/">
                        <li>Gallery</li>
                    </a>
                    <a href="/#calendar">
                        <li>Calendar</li>
                    </a>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="container-project">
            <div class="project-about">
                <div id="stop-page-about" class="container-project-image">
                    <div class="content-projct-image">
                        <img class="project-image">
                    </div>

                    <div class="image-page">
                        <div id="prev" class="page-about">
                            <i class="fa-solid fa-angle-left icon-pages"></i>
                        </div>
                        <div class="image-status">
                        </div>
                        <div id="next" class="page-about">
                            <i class="fa-solid fa-angle-right icon-pages"></i>
                        </div>
                    </div>
                </div>
                <div id="stop-page-about" class="container-project-description">

                </div>
            </div>
        </section>

        <section class="container-tchnology">
            <div class="container-tchnology-title">
                <h3 class="title-about">Technologies</h3>
            </div>
            <div class="container-tchnology-card">
                <div id="node" class="card">
                    <div class="card-header">
                        <i class="fa-brands fa-node icon-technology"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="title-technology">Node.JS</h3>
                    </div>
                </div>

                <div id="express" class="card">
                    <div class="card-header">
                        <i class="fa-brands fa-hive icon-technology"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="title-technology">Express.JS</h3>
                    </div>
                </div>

                <div id="api" class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-gears icon-technology"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="title-technology">APIs NASA</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-author">
            <div class="container-author-title">
                <h3 class="title-about">Author</h3>
            </div>
            <div class="about-author">
                <div class="content-image-author">
                    <img class="image-author" src="/img/jose-author.jpeg" alt="">
                </div>
                <div class="content-explanation-author">
                    <p class="explanation-author">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint incidunt distinctio 
                        nemo ut ratione voluptatem enim. Dolorem repellendus labore reiciendis dicta sapiente ab cum, iste ut aspernatur, 
                        nesciunt eligendi deserunt?
                    </p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <div class="container-footer">
                <div class="footer-info">
                    <div class="logo-info">
                        <img src="/img/logo-home.png" alt="logo-astronnebua">
                    </div>
                    <p>O AstronNebula foi desenvolvido buscando tornar possivel a ideia relacionada ao acesso de informações astrológicas. O ponto central é autilização das 
                        APIs disponibilizadas pela propria NASA. Assim é possivel ter acesso a vários dados interesantes, incluindo os que estão presentes neste projeto. 
                        De forma sucinta, o projeto contém uma galeria de imagens e vídeos, além de um caléndario com datas de eventos astronomicos importantes.
                    </p>
                </div>
                <div class="footer-pages">
                    <div>
                        <div class="pages-item">
                            <i class="fa-solid fa-house icon-footer"></i>
                            <a href="/about/">Home</a>
                        </div>
                        <div class="pages-item">
                            <i class="fa-solid fa-images icon-footer"></i>
                            <a href="/gallery/">Gallery</a>
                        </div>
                        <div class="pages-item">
                            <i class="fa-solid fa-calendar-days icon-footer"></i>
                            <a href="/#calendar">Calendar</a>
                        </div>
                    </div>
                </div>
                <div class="footer-documentation">
                    <div>
                        <div class="documentation-item">
                            <i class="fa-brands fa-hive icon-footer"></i>
                            <a href="https://expressjs.com/pt-br/" target="_blank">Express.JS</a>
                        </div>
                        <div class="documentation-item">
                            <i class="fa-solid fa-brain icon-footer"></i>
                            <a href="https://api.nasa.gov/" target="_blank">APIs Learnpage</a>
                        </div>
                        <div class="documentation-item">
                            <i class="fa-brands fa-github icon-footer"></i>
                            <a href="https://github.com/JAndersonArruda/AstronNebula" target="_blank">Repository</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-copyright">
                <p>Copyright &copy; 2024 <span></span> - <span><i>Astron</i>Nebula</span> by <a href="https://jandersonarruda.github.io" class="author-link">J. A. F. Arruda</a></p>
            </div>
        </div>
    </footer>

    <script src="/js/about.js"></script>
    <script src="https://kit.fontawesome.com/acbf6c26fc.js" crossorigin="anonymous"></script>
</body>
</html>