<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AstronNebula - Home</title>
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="shortcut icon" href="./img/logo-home.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-title">
                <img src="./img/logo-home.png" alt="logo do projeto" class="nav-logo">
                <h1>Astron<span>Nebula</span></h1>
            </div>
            <div class="nav-navegation">
                <ul class="nav-navegation-links">
                    <a href="/galery/">
                        <li>Galery</li>
                    </a>
                    <a href="/agenda/">
                        <li>Agenda</li>
                    </a>
                    <a href="/about/">
                        <li>About</li>
                    </a>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section id="image-day" class="container-image-day">
            <div class="image-day">
                <img src="" alt="Image day">
                <p>Image Name</p>
            </div>
            <div class="container-description-image">
                <h1>Imagem do Dia</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eveniet et aliquid quis distinctio ipsum. Pariatur totam aliquid molestias, iusto laudantium quae magnam aperiam assumenda rem earum quas accusamus soluta?</p>
            </div>
        </section>
        <section id="calendar"></section>
    </main>
    <footer></footer>
</body>
</html>