<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AstronNebula - Galeria</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo-home.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-title">
                <img src="./img/logo-home.png" alt="logo do projeto" class="nav-logo">
                <h1>Astron<span>Nebula</span></h1>
            </div>
            <div class="nav-navegation">
                <ul class="nav-navegation-links">
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="/#calendar">
                        <li>Calendar</li>
                    </a>
                    <a href="/about/">
                        <li>About</li>
                    </a>
                </ul>
            </div>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>