<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AstronNebula - Galeria</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo-home.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-title">
                <img src="/img/logo-home.png" alt="logo do projeto" class="nav-logo">
                <h1>Astron<span>Nebula</span></h1>
            </div>
            <div class="nav-navegation">
                <ul class="nav-navegation-links">
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="/#calendar">
                        <li>Calendar</li>
                    </a>
                    <a href="/about/">
                        <li>About</li>
                    </a>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="container-search">
            <div><i class="fa-solid fa-magnifying-glass"></i></div>
            <input type="text" id="search-input" placeholder="search in english...">
        </section>
        <section class="container-data">
            <div id="data-area" class="data-area">

            </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <div class="container-footer">
                <div class="footer-info">
                    <div class="logo-info">
                        <img src="/img/logo-home.png" alt="logo-astronnebua">
                    </div>
                    <p>O AstronNebula foi desenvolvido buscando tornar possivel a ideia relacionada ao acesso de informações astrológicas. O ponto central é autilização das 
                        APIs disponibilizadas pela propria NASA. Assim é possivel ter acesso a vários dados interesantes, incluindo os que estão presentes neste projeto. 
                        De forma sucinta, o projeto contém uma galeria de imagens e vídeos, além de um caléndario com datas de eventos astronomicos importantes.
                    </p>
                </div>
                <div class="footer-pages">
                    <div>
                        <div class="pages-item">
                            <i class="fa-solid fa-house icon-footer"></i>
                            <a href="/about/">Home</a>
                        </div>
                        <div class="pages-item">
                            <i class="fa-solid fa-calendar-days icon-footer"></i>
                            <a href="/#calendar">Calendar</a>
                        </div>
                        <div class="pages-item">
                            <i class="fa-solid fa-bell icon-footer"></i>
                            <a href="/about/">About</a>
                        </div>
                    </div>
                </div>
                <div class="footer-documentation">
                    <div>
                        <div class="documentation-item">
                            <i class="fa-brands fa-hive icon-footer"></i>
                            <a href="https://expressjs.com/pt-br/" target="_blank">Express.JS</a>
                        </div>
                        <div class="documentation-item">
                            <i class="fa-solid fa-brain icon-footer"></i>
                            <a href="https://api.nasa.gov/" target="_blank">APIs Learnpage</a>
                        </div>
                        <div class="documentation-item">
                            <i class="fa-brands fa-github icon-footer"></i>
                            <a href="https://github.com/JAndersonArruda/AstronNebula" target="_blank">Repository</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-copyright">
                <p>Copyright &copy; 2024 <span></span> - <span><i>Astron</i>Nebula</span> </p>
            </div>
        </div>
    </footer>

    <script type="module" src="/js/gallery.js"></script>
    <script src="https://kit.fontawesome.com/acbf6c26fc.js" crossorigin="anonymous"></script>
</body>
</html>